@import "~flexboxgrid/dist/flexboxgrid.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row-gap {
  margin-top: -15px;

  & > * {
    margin-top: 15px;
  }
}
